.content {
	position: relative;
}
.generation {
	padding: 120px 0px;
	background-color: #f7f7f7;
	&__block {
	}
	@media (max-width: 900px) {
		padding: 80px 0px;
	}
	@media (max-width: 600px) {
		padding: 30px 0px;
	}
}

.block {
	text-align: center;
	&__icon {
		margin: 0px 0px 30px 0px;
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		line-height: 24px;
		color: #353738;
		margin: 0px 0px 20px 0px;
	}

	&__text {
		font-size: 18px;
		line-height: 34px;
		color: #848789;
	}
}

// .brands

.brands {
	&__row {
		@include flexbox();
	}

	&__column1 {
		flex: 0 1 66.667%;
	}

	&__column2 {
		flex: 0 1 33.333%;
	}

	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			z-index: 2;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}
	@media (max-width: 1500px) {
		&__content {
			padding: 40px 35px 30px 35px;
		}
	}
	@media (max-width: 1100px) {
		&__row {
			flex-direction: column;
		}
	}
}
.item {
	height: 100%;
	display: block;
	position: relative;
	@media (max-width: 1100px) {
		height: auto;
	}
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include flexbox();
		flex-direction: column;
		@include anim(0.3s, 0s);
		justify-content: center;
		align-items: center;
		background-color: rgba(100, 194, 158, 0.5);
		background-size: cover;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		span {
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;
			margin: 10px 0px 0px 0px;
		}
		@media (max-width: 1100px) {
			height: 100%;
		}
	}

	&__image {
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
}

.block {
	&__text1 {
		font-size: 16px;
		line-height: 30px;
		color: #848789;
	}
}
.block__text1 {
	text-align: justify;
	font-size: 16px;
	line-height: 30px;
	&:after {
		content: "";
		display: block;
		margin: 35px auto 0px auto;
		width: 50px;
		height: 1px;
		background-color: #ebebeb;
	}
}

.bg1 {
	flex: 0 1 100%;
	position: relative;
	padding: 0px 0px 35% 0px;
	width: 100%;
	height: 100%;
	@media (max-width: 1100px) {
		height: 70%;
		padding-bottom: 70%;
	}
}

.item__image {
	background: url("../img/main1_left.png") center center no-repeat;
	background-size: cover;
}

.bg2 {
	flex: 0 1 100%;
	position: relative;
	padding: 0px 0px 37.51% 0px;
}

.brands__image {
	background: url("../img/main1_right.png") center center no-repeat;
	background-size: cover;
}

.brands2 {
}
.brands2 .brands {
	&__row {
		@include flexbox();
	}
	&__column1 {
		@include flexorder(2);
	}

	&__image {
		background: url("../img/main2_left.png") center center no-repeat;
		background-size: cover;
	}
}
.brands2 .item {
	&__image {
		background: url("../img/main2_right.png") center center no-repeat;
		background-size: cover;
	}
}

.brands3 {
}
.brands3 .brands {
	&__row {
		@include flexbox();
	}
	&__column1 {
		flex: 0 1 33.333%;
	}

	&__image {
		background: url("../img/main3.png") center center no-repeat;
		background-size: cover;
	}
}
.brands3 .item {
	&__image {
		background: url("../img/main3_left.png") center center no-repeat;
		background-size: cover;
	}
	&__image2 {
		background: url("../img/main3_right.png") center center no-repeat;
		background-size: cover;
	}
}

//SLIDERRRRRRRRRRR

.slider {
	background-color: #f7f7f7;
	padding: 120px 0 60px 0;

	@media (max-width: 1100px) {
		padding: 60px 0 30px 0;
	}
	&__body {
	}

	&__item {
		text-align: center;
	}

	&__icon {
		padding: 0px 0px 35px 0px;
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
		margin: 0px 0px 20px 0px;
	}

	&__title span {
		font-weight: 300;
		color: #848789;
	}
	&__text {
		text-align: center;
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		color: #848789;
	}
}
.container {
}

.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

.slider__body {
}

.slider__body .slick-dots {
	padding: 100px 0px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 1100px) {
		padding: 50px 0 0px 0;
	}

	@media (max-width: 767px) {
		padding: 30px 0 0px 0;
	}
}

.slider__body .slick-dots li {
	margin: 0px 5px;
}

.slider__body .slick-dots button {
	width: 11px;
	height: 11px;
	border: 1px solid #c8c8c8;
	border-radius: 50%;
	font-size: 0;
	background-color: transparent;
}

.slider__body .slick-dots li.slick-active button {
	background-color: #a9afb3;
}

// SHOPPPPPPPPPPPPP

.shop {
	&__body {
		@include flexbox();
	}

	&__column {
		flex: 0 1 33.333%;
	}

	&__column1 {
		flex: 0 1 16.666%;
	}

	&__column2 {
		flex: 0 1 16.666%;
	}

	&__column3 {
		flex: 0 1 33.333%;
	}

	&__block {
	}

	&__footer {
		padding: 75px 0px;
		text-align: center;
		background-color: #282f35;
	}

	&__btn {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		border: 1px solid rgba(255, 255, 255, 0.5);
		padding: 20px 58px;
	}
	@media (max-width: 1100px) {
		&__body {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 100%;
		}
		&__column1,
		&__column2 {
			flex: 0 1 50%;
		}
		&__column3 {
			flex: 0 1 100%;
		}
		&__footer {
			padding: 40px 0px;
		}
		&__btn {
			padding: 20px 30px;
		}
	}
}
.block-shop {
	height: 100%;
	&__row {
		@include flexbox();
	}

	&__column {
		flex: 0 1 50%;
	}

	&__items {
	}

	&__bg {
		flex: 0 1 100%;
		position: relative;
		padding: 0px 0px 100% 0px;
	}

	&__bg1 {
		flex: 0 1 100%;
		position: relative;
		padding: 0px 0px 50% 0px;
	}

	&__bg2,
	&__bg3 {
		flex: 0 1 100%;
		position: relative;
		padding: 0px 0px 200% 0px;
	}

	&__column1 {
	}
}
.shop__block .item {
	&__logo {
	}

	&__image {
		background: url("../img/shop_img/shop_img1.png") center center no-repeat;
		background-size: cover;
	}

	&__image2 {
		background: url("../img/shop_img/shop_img2.png") center center no-repeat;
		background-size: cover;
	}

	&__image3 {
		background: url("../img/shop_img/shop_img6.png") center center no-repeat;
		background-size: cover;
	}
}

.shop__column1 .item {
	&__image4 {
		background: url("../img/shop_img/shop_img3.png") center center no-repeat;
		background-size: cover;
	}
}

.shop__column2 .item {
	&__image5 {
		background: url("../img/shop_img/shop_img4.png") center center no-repeat;
		background-size: cover;
	}
}

.shop__column3 .item {
	&__image6 {
		background: url("../img/shop_img/shop_img5.png") center center no-repeat;
		background-size: cover;
	}
}

.shop__column3 .item {
	&__image7 {
		background: url("../img/shop_img/shop_img7.png") center center no-repeat;
		background-size: cover;
	}
}

.shop__column3 .item {
	&__image8 {
		background: url("../img/shop_img/shop_img8.png") center center no-repeat;
		background-size: cover;
	}
}
