@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "_nullstyle";
/*----------Конец файла обнуляющих стилей-----------*/
@import "_header";
@import "main";
@import "footer";

.wrapper {
	min-height: 100%;
	font-family: Lato;
}

.container {
	max-width: 1130px;
	margin: 0px auto;
	padding: 0px 15px;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include flexbox();
	flex-direction: column;
}
